<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
    
    <!-- 指定映射文件包 -->
    <mappers>  
        <mapper resource="com/lantian/FindCar/mapping/UserBaseInformationMapper.xml" />
        <mapper resource="com/lantian/FindCar/mapping/UserAnimateInformationMapper.xml" />
        <mapper resource="com/lantian/FindCar/mapping/ConfirmCodeMapper.xml" />
        <mapper resource="com/lantian/FindCar/mapping/DriverAnimateInformationMapper.xml" />
        <mapper resource="com/lantian/FindCar/mapping/DriverBaseInformationMapper.xml" />
        <mapper resource="com/lantian/FindCar/mapping/OrderRecordMapper.xml" />
    </mappers> 
   
</configuration>  